body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #0373f3;
    overflow: hidden;
    height: 100%;
    /* Set the height to 100% to cover the entire height of the viewport */
    position: fixed;
    /* Fix the position so it stays visible while scrolling */
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-left: 200px;
    /* Adjust the margin to leave space for the vertical navbar */
    margin-top: 20px;
    margin-right: 200px;
}

.hidden {
    display: none;
}

/* Add these styles to your existing styles.css file */
/* Add these styles to your existing styles.css file */

#About {
    margin: 20px;
}

#About h2 {
    color: #333;
}

#About p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Optional: Customize styles further based on your design preferences */


.card {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 10%;
    height: 10%;
}

.card-text {
    padding: 15px;
}

/* Optional: Add styles to make the card responsive */
@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .card {
        margin: 0 10px 20px;
    }
}

/* Add these styles to your existing styles.css file */

#Contact {
    margin: 20px;
}

#Contact h2 {
    color: #333;
}

#contactForm {
    max-width: 400px;
    margin-top: 20px;
}

#contactForm label {
    display: block;
    margin-bottom: 8px;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#contactForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Add these styles to your existing styles.css file */

#Login {
    margin: 20px;
}

#Login h2 {
    color: #333;
}

#loginForm {
    max-width: 300px;
    margin-top: 20px;
}

#loginForm label {
    display: block;
    margin-bottom: 8px;
}

#loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginForm button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #555;
}

/* Add these styles to your existing style.css file */

header {
    background-color: #0373f3;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
    font-size: 18px;
}